body {

    .dropdown-container {
        position: absolute;
        left: 20;
        z-index: 100;
        
        #dropdown-toggle {
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 1.5em;
            font-weight: bold;
            display: inline-block;
            padding: 10px 20px;
        }
        
        #dropdown {
            display: none;
            transition: 0.5s;
            position: relative;
            background-color:rgba(255, 255, 255, 0.5);
        }
    }
}